@keyframes cardIntro {
    0% {
        opacity: 0;
        transform: scale(0.95);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.card-intro {
    opacity: 0;
    transform: scale(0.95);
    transform-origin: center center;
    animation-name: cardIntro;
    animation-duration: 0.75s;
    animation-fill-mode: forwards;
    animation-direction: normal;
}