.sort-list-menu {
    position: relative;
    padding-bottom: 1.5rem;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 4rem;
        height: 1px;
        background: $color-brand-tertiary;
        transform-origin: center center;
        transform: translateX(-2rem) scaleX(0);
        transition: transform 0.3s ease-in;
    }

    &.active {
        &::after {
            transform: translateX(-2rem) scaleX(100%);
        }
    }

    // &:hover {
    //     &::after {
    //         transform: translateX(-2rem) scaleX(100%);
    //         transition: transform 0.3s ease-out;
    //     }
    // }

}

// There is some DIRTY nesting in the inported styles, so we need to override it
.row-background.the-list .row .list-title ul.tabs li.sort-list-menu.active > span {
    color: #ffffff;
}

.sort-list {
    position: absolute;
    top: 6rem;
    left: 50%;
    padding: 1rem 0;
    width: 65%;
    opacity: 0;
    list-style-type: none;
    background: #ffffff;
    transition: all 0.2s ease-in;
    transform: translateX(-50%) translateY(0);
    pointer-events: none;
    border-radius: 0.25rem;
    z-index: 100;

    &.active {
        pointer-events: initial;
        transform: translateX(-50%) translateY(1rem);
        transition: all 0.1s ease-out;
        opacity: 1;
        box-shadow:
            0 10px 15px -3px rgba(0, 0, 0, 0.3),
            0 4px 6px -2px rgba(0, 0, 0, 0.2);
    }

    .sort-list-option {
        width: 100%;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        text-align: left;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);

        &:last-of-type {
            border-bottom: none;
            padding-bottom: 0;
            margin-bottom: 0;
        }

        span {
            color: $color-black-100;
            font-size: 2rem;
        }

        &:hover {
            color: $color-black-70;
        }
    }

    @media screen and (max-width: 1374px) {
        width: 75%;
        
        .sort-list-option {
            span {
                font-size: 1.5rem;
            }
        }
    }

    @media screen and (min-width: 1375px) {
        .sort-list-option {
            span {
                font-size: 2rem;
            }
        }
    }
}

// There is some DIRTY nesting in the inported styles, so we need to override it
.row-background.the-list .row .list-title ul.tabs li.sort-list-option {
    span {
        color: $color-black-60;
    }

    &:hover {
        span {
            color: $color-black-100;
        }
    }
    &.selected {
        span {
            pointer-events: none;
            color: $color-black-30;
        }
    }
}